{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}  Поиск  {% endblock %}

{% block content %}
    <h1>Параметры поиска</h1>
    <hr>

	<form action="" method="get">
		{{ filter.form.as_p }}
		<button type="submit">
			Искать
		</button>
		<div>
			<br>
		</div>
		<a class="btn btn-warning" role="button" href="{{ request.path }}">
			Сбросить фильтры
		</a>
	</form>

	<hr>


	<h2>Результаты поиска</h2>
		{% for post in post_list %}

		<h5>{{ post.title }}</h5>
		<p>{{ post.author.user.username }}</p>
		<p>{{ post.created_at }}</p>
		<p>{{ post.text|truncatechars:40|censor }}</p>
	<br>
		{% empty %}
	<p>Нет статей, соответствующих критериям поиска.</p>
		{% endfor %}

	<br>

	{% include 'flatpages/pagination.html' %}

{% endblock %}
